@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@200;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    @apply text-2xl font-bold;
 }

 p{
    @apply mt-1.5 text-sm;
 }

.clip-hidden {
    clip-path: ellipse(0 0 at 0% 0%);
    opacity: 0;
}
.product-image {
    /* position: absolute; */
    padding: 15px;
    width: 100px; 
    height: auto;
    /* display: inline-table;
    border: 4px solid #bc332a;
    border-radius: 50%; */
    background: #ffffff;
    align-items: center;
    
}

.clip-visible {
    clip-path: ellipse(1900px 1900px at 0% 0%);
}
#back,
#forward{
    @apply absolute z-[5]  -translate-y-2/4 text-gray-100 hover:scale-125 cursor-pointer duration-[0.4s] ease-out px-0 py-2.5
    border-0 top-2/4;
}
.content {
    @apply text-white absolute w-[90%] sm:w-[420px] md:w-[500px] lg:w-[600px] z-[5] text-left backdrop-blur-[9px] duration-[1s] px-4 py-6 top-1/2 transform -translate-y-1/2 left-4 sm:left-8;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
/* .content{
    @apply text-[aliceblue] absolute w-[400px] z-[5] text-center backdrop-blur-[2px] duration-[1s] px-0 py-[15px] left-0 bottom-0 top-20;
    background: #ffffff22;
} */
.one{
    @apply bg-black;
}
.slider{
    @apply relative w-full h-[300px] top-4 overflow-hidden ;
}
.slides{
    @apply relative w-full  h-screen overflow-hidden  ;

}
.slide1{
    @apply absolute top-0 left-0 w-full h-full ; 
}
.slider-parts{
    @apply absolute top-0 left-0 w-full h-full flex; 
    
}
.slide-part{
    @apply relative w-1/4 h-full ; 
    
}
.slide-part-inner{
    @apply absolute w-full h-full top-0  left-0 overflow-hidden duration-500 transition-transform ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0 0;
}
.slide-part-inner::before{
    @apply absolute top-0 left-0 w-full h-full transition-opacity duration-300; 
    background-image: inherit;
    background-position: center center;
    background-size: cover;
    content: '';
    
}
.slide-part:nth-child(1) .slide-part-inner{
    transform: translateX(-35%);
    transition-delay: 0.16;
    
}
.slide-part:nth-child(2) .slide-part-inner{
    transform: translateX(-65%);
    transition-delay: 0.12;
    
}
.slide-part:nth-child(3) .slide-part-inner{
    transform: translateX(-95%);
    transition-delay: 0.08;
    
}
.slide-part:nth-child(4) .slide-part-inner{
    transform: translateX(-135%);
    transition-delay: 0s;
    
}
.slide-part:nth-child(1) .slide-part-inner::before {
    transition-delay: 0.16;

}
.slide-part:nth-child(2) .slide-part-inner::before{

    transition-delay: 0.12;

}
.slide-part:nth-child(3) .slide-part-inner::before{
    transition-delay: 0.08;
    
}
.slide-part:nth-child(4) .slide-part-inner::before{
    
    transition-delay: 0s;

}

.slide1.active-slide .slide-part:nth-child(1) .slide-part-inner,
.slide1.active-slide .slide-part:nth-child(1) .slide-part-inner::before{
    transition-delay: 0.22s;

}
.slide1.active-slide .slide-part:nth-child(2) .slide-part-inner,
.slide1.active-slide .slide-part:nth-child(2) .slide-part-inner::before{
    transition-delay: 0.32s;

}
.slide1.active-slide .slide-part:nth-child(3) .slide-part-inner,
.slide1.active-slide .slide-part:nth-child(3) .slide-part-inner::before{
    transition-delay: 0.42s;

}
.slide1.active-slide .slide-part:nth-child(4) .slide-part-inner,
.slide1.active-slide .slide-part:nth-child(4) .slide-part-inner::before{
    transition-delay: 0.52s;

}

.slide1.active-slide .slide-part-inner{
    transform: translateX(0);
}
.slide1.active-slide .slide-part-inner::before{
    opacity: 1;
}
.fixed-visits {
    position: fixed;
    right: 2rem; /* Ajustez cette valeur selon vos besoins */
    top: 10rem; /* Ajustez cette valeur selon vos besoins */
    z-index: 9999; /* Assurez-vous que le composant est au-dessus des autres éléments */
    background-color: rgba(0, 0, 0, 0.7); /* Optionnel: Ajoutez un fond pour une meilleure lisibilité */
    padding: 1rem; /* Optionnel: Ajoutez un peu de padding */
    border-radius: 0.5rem; /* Optionnel: Arrondissez les coins */
}
.apprating {
    position: fixed;
    right: 2rem; /* Ajustez cette valeur selon vos besoins */
    top: 35rem; /* Ajustez cette valeur selon vos besoins */
    z-index: 1000; /* Assurez-vous que le composant est au-dessus des autres éléments */
    background-color: rgba(0, 0, 0, 0.7); /* Optionnel: Ajoutez un fond pour une meilleure lisibilité */
    padding: 0.5rem; /* Optionnel: Ajoutez un peu de padding */
    border-radius: 0.5rem; /* Optionnel: Arrondissez les coins */
    color: white;
}